# Build artifacts
/build/
iso_root/
boredos.iso
disk.img
disk.qcow2
run.ps1
edk2-vars.fd
qemu-debug.log
boredos.dump
Makefile.unsafe 
# makefile.unsafe isn't supposed to be committed

# Userland
src/userland/bin/

# Temporary files
**/.DS_Store
.DS_Store
*.o
*.a

# Others
.gitignore
src/userland/cli/third_party/tcc/tcc.elf
src/userland/sdk/include/*
limine
