# sysfetch configuration
ascii_art_file = /Library/art/boredos.txt
user_host_string = root@boredos
separator = ------------
os_label = OS
kernel_label = Kernel
uptime_label = Uptime
shell_label = Shell
memory_label = Memory
cpu_label = CPU
date_label = Date
